@model FilterManagerPortal.Models.Filter

<form method="post" asp-action="EditFilter">
    <input asp-for="Tags" hidden />
    <input asp-for="FilterId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit filter</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="FilterName">Name: </label>
            <input asp-for="FilterName" class="form-control" />
            <span asp-validation-for="FilterName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="FilterPrice">Price: </label>
            <input asp-for="FilterPrice" class="form-control" />
            <span asp-validation-for="FilterPrice" class="text-danger"></span>
        </div>


        <button type="submit" class="btn btn-primary" style="width:150px">Edit</button>
        <a asp-controller="Start" asp-action="Start" class="btn btn-secondary" style="width:150px">
            Back to Filters
        </a>
    </div>
</form>