USE [master]
GO
/****** Object:  Database [TagDb]    Script Date: 2023. 04. 26. 1:16:33 ******/
CREATE DATABASE [TagDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TagDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TagDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TagDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TagDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TagDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TagDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2023. 04. 26. 1:16:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryTags]    Script Date: 2023. 04. 26. 1:16:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryTags](
	[CategoryTagId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CategoryTags] PRIMARY KEY CLUSTERED 
(
	[CategoryTagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecTags]    Script Date: 2023. 04. 26. 1:16:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecTags](
	[SpecTagId] [int] IDENTITY(1,1) NOT NULL,
	[SpecTagName] [nvarchar](max) NOT NULL,
	[SubCategoryTagId] [int] NOT NULL,
 CONSTRAINT [PK_SpecTags] PRIMARY KEY CLUSTERED 
(
	[SpecTagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategoryTags]    Script Date: 2023. 04. 26. 1:16:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategoryTags](
	[SubCategoryTagId] [int] IDENTITY(1,1) NOT NULL,
	[SubCategoryTagName] [nvarchar](max) NOT NULL,
	[CategoryTagId] [int] NOT NULL,
 CONSTRAINT [PK_SubCategoryTags] PRIMARY KEY CLUSTERED 
(
	[SubCategoryTagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_SpecTags_SubCategoryTagId]    Script Date: 2023. 04. 26. 1:16:34 ******/
CREATE NONCLUSTERED INDEX [IX_SpecTags_SubCategoryTagId] ON [dbo].[SpecTags]
(
	[SubCategoryTagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubCategoryTags_CategoryTagId]    Script Date: 2023. 04. 26. 1:16:34 ******/
CREATE NONCLUSTERED INDEX [IX_SubCategoryTags_CategoryTagId] ON [dbo].[SubCategoryTags]
(
	[CategoryTagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SpecTags]  WITH CHECK ADD  CONSTRAINT [FK_SpecTags_SubCategoryTags_SubCategoryTagId] FOREIGN KEY([SubCategoryTagId])
REFERENCES [dbo].[SubCategoryTags] ([SubCategoryTagId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpecTags] CHECK CONSTRAINT [FK_SpecTags_SubCategoryTags_SubCategoryTagId]
GO
ALTER TABLE [dbo].[SubCategoryTags]  WITH CHECK ADD  CONSTRAINT [FK_SubCategoryTags_CategoryTags_CategoryTagId] FOREIGN KEY([CategoryTagId])
REFERENCES [dbo].[CategoryTags] ([CategoryTagId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubCategoryTags] CHECK CONSTRAINT [FK_SubCategoryTags_CategoryTags_CategoryTagId]
GO
USE [master]
GO
